<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.EmpMapper">

	<select id="getList" resultType="com.test.entity.Emp">
		select * from emp
	</select>

	<insert id="insert" parameterType="com.test.entity.Emp" useGeneratedKeys="true" keyProperty="id">
		insert into emp
			(last_name, email, gender, dept_id, status)
        values
			(#{lastName}, #{email}, #{gender}, #{deptId}, #{status, typeHandler=com.test.typehandler.MyEmpStatusEnumTypeHandler})
	</insert>

    <!--
		1、使用 select 标签定义调用存储过程
		2、statementType="CALLABLE"：表示要调用存储过程
		3、{call procedure_name(params)}
	-->
	<select id="getPageByProcedure" statementType="CALLABLE">
		{call hello_test(
			#{start, mode=IN, jdbcType=INTEGER},
			#{end, mode=IN, jdbcType=INTEGER},
			#{count, mode=OUT, jdbcType=INTEGER},
			#{emps, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=PageEmp}
		)}
	</select>
	<resultMap type="com.test.entity.Emp" id="PageEmp">
		<id column="id" property="id"/>
		<result column="last_name" property="last_name"/>
		<result column="email" property="email"/>
	</resultMap>

    <select id="getById" resultMap="resultMapEnum">
        select * from emp where id = #{id}
    </select>
	<resultMap type="com.test.entity.Emp" id="resultMapEnum">
		<id column="id" property="id"/>
		<result column="status" property="status" typeHandler="com.test.typehandler.MyEmpStatusEnumTypeHandler"/>
	</resultMap>

</mapper>